
@media(max-width:992px){
    .form{
        background-image:
        linear-gradient(
        rgba(255,255,2550,0.2) 0% ,
        rgba(255,255,255,0.2) 100% ,
       
        ),
         url(../../../public/form.jpg.jpg);
        ;
    }
.custom-form{
    width: 100%;
}
.form-c {
    width: 100%;
}
}

